@import url("./variables.css");

.book {
  --book-width: 40svw;
  --book-height: 26svh;
  display: flex;
  flex-direction: column;
  width: var(--book-width);
  height: var(--book-height);
  background: var(--secondary);
  color: var(--text);
  border-radius: 8pt;
  margin-left: 3svw;
  margin-right: 3svw;
  margin-top: 4svh;
}

.book-cover {
  width: var(--book-width);
  height: calc(var(--book-height)/1.1);
  overflow: hidden;
  border-radius: 4pt;
}

.book-cover-img {
  width: auto;
  height: auto;
}

.book-details {
  overflow: hidden;
  margin-left: 4svw;
}

.book-details h3 {
  font-size: 1.1rem;
}

.book-details p {
  font-size: .7rem;
  color: var(--dark);
  font-style: italic;
}
