.book {
  display: flex;
  flex-direction: row;
  background: #252525;
  color: #fff;
  border-radius: 8pt;
  margin: 1em;
  box-shadow: 1px 1px 1px 0.5em #101010;
}

.book-cover {
  width: 20vw;
  height: auto;
  border-radius: 4pt;
}

.book-details {
  padding: 12px;
  overflow: hidden;
}

.book h3 {
  color: white;
}
