@import url("./variables.css");

.download-card {
  --download-card-width: 97svw;
  --download-card-height: 50svh;
  color: #fff;
  width: var(--download-card-width);
  background-color: var(--secondary);
  height: auto;
  display: flex;
  flex-direction: column;
  /* Changed to column layout */
  align-items: center;
  /* Center content horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  overflow: hidden;
  margin-top: 5svh;
  margin-left: auto;
  margin-right: auto;
}

.download-card .flex-container {
  display: flex;
  flex-direction: column;
  /* Ensure image and text are in a row */
  /* Center vertically */
}

.download-card .Book-cover {
  width: var(--download-card-width);
  overflow: hidden;
  height: 40svh;
}

.details {
  padding: 1em;
  /* Align text to the left */
}

.details h1 {
  font-size: 1.6rem;
}

.details p {
  font-size: .9rem;
  font-style: italic;
}

.Book-cover img {
  width: var(--download-card-width);
  height: auto;
  /* Allow image height to adjust */
  object-fit: cover;
}

.Title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.download {
  padding: 1em;
  text-align: center;
  /* Align button to the center */
}

.download-btn {
  display: inline-block;
  padding: 0.8em 1.5em;
  font-size: 1.2em;
  background: var(--complementary);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.download-btn:hover {
  transform: translateY(-2px);
}
