/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url("./variables.css");

/* Header styles */
.header {
  position: fixed;
  top: 0;
  color: white;
  width: 100svw;
  height: 8svh;
  background-color: var(--secondary2);
  /* Update background color to match the design */
  display: flex;
  align-items: center;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */
}

/* Brand styles */
/* Brand styles */
.brand {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2em;
  /* Increased font size for emphasis */
  letter-spacing: 1.2px;
  margin: 0;
  /* Add a subtle shadow effect */
  color: var(--tertiary);
  /* Add a gradient background */
  display: inline-block;
  padding: 0.2em 0.5em;
  /* Add padding to enhance readability */
  border-radius: 0.3em;
  /* Add rounded corners */
}

/* Color for the span */
.brand span {
  color: var(--complementary);
}
