<section class="books">
  {{range .Result}}
  <div class="book">
    <div class="img">
      <img class="" src="{{.Image}}" alt="{{.Title}}">
    </div>
    <div class="details">
      <h1 class="title"><a href="/download/{{.Model.ID}}">{{.Title}}</a></h1>

      <p class="date">
        {{.Model.CreatedAt}}
      </p>
      <p class="description expand-content" data-word-limit="7">
        {{.Description}}
      </p>
      <div class="tags">
        <div class="tag">
          {{.Cartegory1}}
        </div>
        <div class="tag">
          +2 more
        </div>
      </div>
    </div>

  </div>
  {{end}}
</section>
