<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Download {{.book.Title}}</title>
    <link rel="stylesheet" href="/css/download.css" />
  </head>

  <body>
    {{template "header"}}

    <section>
      <div class="first">
        <div class="book-cover">
          <!-- Book cover image can be added here -->
          <img
            src="/uploads/images/{{.book.Cartegory1}}/{{.book.Image}}"
            alt="{{.book.Title}}"
          />
        </div>
        <div class="book-details-container">
          <div class="book-details">
            <h1 class="title">{{.book.Title}}</h1>

            <p class="time">{{.book.Model.CreatedAt}}</p>
          </div>

          <div class="tags">
            <div class="tag">{{.book.Cartegory1}}</div>
            <div class="tag">{{.book.Cartegory2}}</div>

            <div class="tag">+more</div>
          </div>
        </div>
      </div>
      <div class="second">
        <p class="description">{{.book.Description}}</p>
      </div>
      <button class="download-btn">
        <a
          download="{{.book.File}}"
          href="/uploads/files/{{.book.Cartegory1}}/{{.book.File}}"
        >
          Download</a
        >
      </button>
    </section>
    <section
      class="related"
      hx-trigger="load"
      hx-get="/related/{{.book.Cartegory1}}"
      hx-swap="outterHTML"
    ></section>
  </body>

  <script src="//cdn.jsdelivr.net/npm/eruda"></script>
  <script>
    eruda.init();
  </script>
  <script src="/lib/htmx.js"></script>
</html>
