{{define "header"}}
<section class="books">
  <div class="book">
    <div class="img">
      <img class="" src="css/KOLORO_1718565912041.jpg">
    </div>
    <div class="details">
      <h1 class="title">Hello</h1>
      <p class="date">
        today
      </p>
      <p class="description">
        a book about greeting
        alot of a lot of people .
      </p>
      <div class="tags">
        <div class="tag">
          social
        </div>
        <div class="tag">
          +2 more
        </div>
      </div>
    </div>

  </div>
</section>
{{end}}
