<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--custom css-->
<link rel="stylesheet" href="style/layout.css" type="text/css" media="all" />
<link rel="stylesheet" href="style/header.css" type="text/css" media="all" />
<link rel="stylesheet" href="style/books.css" class="css">
<link rel="stylesheet" href="style/download.css" type="text/css" media="all" />

<title>{{.Title}}</title>
</head>
<body>
{{template "header"}}
<script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>

{{template "index"}}
<script src="https://unpkg.com/idiomorph@0.3.0"></script>
8
<script src="lib/htmx.js"></script>
<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
<script src="lib/logout.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>
eruda.init();
</script>

</body>
</html>