@import url("./variables.css");

body {
  display: flex;
  margin: 0;
  background: var(--bg);
  color: var(--light);
  flex-direction: column;
}
#login-form {
  max-width: 80svw;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: var(--bg2);
}

/* Heading styling */
#login-form h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: var(--light);
}

/* Label styling */
#login-form label {
  display: block;
  margin-bottom: 0.8rem;
  font-weight: 400;
  color: var(--light2);
}

/* Input styling */
#login-form input {
  width: 80svw;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 0.1rem solid var(--light3);
  border-radius: 0.4rem;
  font-size: 1rem;
  box-sizing: border-box;
  background: var(--bg3);
}

/* Input hover and focus styling */
#login-form input:focus {
  border-color: var(--accent);
  outline: none;
}

/* Button styling */
#login-form button {
  width: 80svw;
  padding: 1rem;
  background-color: var(--accent);
  color: var(--light);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button hover effect */
#login-form button:hover {
  background-color: var(--accent);
}
