@font-face {
  font-family: habara;
  src: url("Harabara.ttf");
}

body {
  background: #121212;
  font-family: habara;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;

  color: #fff;
  width: 100svw;
  overflow: hidden;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.first {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.first .title {
  font-size: 2.2rem;
  padding-left: 1rem;
  margin: 0;
}

.first .time {
  padding-left: 1rem;
  font-size: 1rem;
}

.tags {
  display: flex;
  padding-top: 1rem;
}

.tags .tag {
  background: hsla(185, 71%, 35%, 1);
  border-radius: 0.2em;
  padding: 0.6em;
  margin: 0.2em;
}

.tag:nth-child(2) {
  background: hsla(284, 71%, 51%, 1);
  border-radius: 1rem;
}

.tag:last-child {
  background: hsla(235, 7%, 21%, 1);
}

.first .writer {
  font-size: 1rem;
  padding: 1rem;

  font-style: italic;
  margin-top: 0;
  color: hsla(235, 0%, 71%, 1);
}

.second {
  width: 100svw;
}

.second .description {
  font-style: italic;
  letter-spacing: 0.01rem;
  font-weight: 200;
  padding: 0.3rem;
  color: hsla(235, 0%, 91%, 1);
}

.book-cover {
  width: 40svw;
  height: 30svh;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.book-cover img {
  width: 100%;
  aspect-ratio: 5/7;
}

.book-details-container {
  width: 55svw;
}

.book-details {
  height: 21svh;
}

.download-btn {
  width: 70svw;
  height: 7svh;
  margin: auto;

  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: #fff;

  background: hsla(188, 64%, 57%, 1);
}
